<!DOCTYPE html> 
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">    
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><!-- popuni href atribut vrednosšću context path-a -->
		<title>Clanske karte</title>     
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>        
	 </head>     
	 <body>   
	 	<div th:fragment="centralniDiv">    
	 		<table class = "sortable">     
	 			<caption>Clanske karte</caption>     
	 			<tr>     
	 				<th>R. br.</th>
	 				 <th>Popust</th> 
	 				 <th>Broj poena</th> 
	 				<th>Registarski broj</th>     
	 				<th>Vlasnik</th>  
	 				<th>Status</th> 
	 				<th></th>    
	 			</tr>
	 			<tr th:each="itClanskaKarta, status: ${clanskeKarte}">     
	 				<td class="broj" th:text="${(status.index + 1)+'.'}"></td>
	 				<td class="broj" th:text="${itClanskaKarta.popust}"></td>
	 				<td class="broj" th:text="${itClanskaKarta.brojPoena}"></td>
	 				<td th:text="${itClanskaKarta.registarskiBroj}"></td>    
	 				<td th:text="${itClanskaKarta.korisnik}"></td> 
	 				<td th:text="${itClanskaKarta.status}"></td> 
	 				<td>
	 					<a th:href="|ClanskeKarte/details?registarskiBroj=${itClanskaKarta.registarskiBroj}|">Vidi detalje</a> 
	 				</td>   
	 			</tr>
	 		</table>
	 	<ul>
			<li><a href="ClanskeKarte/add">Dodaj novu clansku kartu</a></li>
		</ul>
		</div>
	 </body>   
 </html>