<!DOCTYPE html> 
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}"  xmlns:th="http://www.thymeleaf.org">     
	<head>     
		<meta charset="UTF-8">     
		<base th:href="@{/}"><
		<title>Clanska karta</title>
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
		<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet"  type="text/css"  href="css/StiloviTabela.css"/>      
	 </head>     
	 <body>
	 <span th:text="#{lang.change}"></span>
	 <select id="locales">
		 <option value=""></option>
		 <option value="sr" th:text="#{lang.ser}"></option>
		 <option value="en" th:text="#{lang.eng}"></option>
	 </select>
	 	<div th:fragment="centralniDiv">
	 	<form method="post" action="ClanskeKarte/edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
	 	<input type="hidden" name="id" th:value="${clanskaKarta.id}"/>
	 		<table>     
	 			<caption th:text="#{clanskaKarta}"></caption>
	 			<tr><th th:text="#{popustCena}"></th><td><input type="number" min="5" th:value="${clanskaKarta.popust}" name="popust"/></td></tr>
	 			<tr><th th:text="#{brojPoena}"></th><td><input type="number" min="5" th:value="${clanskaKarta.brojPoena}" name="brojPoena"/></td></tr>
	 			<tr>     
	 				<th th:text="#{registarskiBroj}"></th>
	 				<td th:text="${clanskaKarta.registarskiBroj}"></td>     
	 				  
	 			</tr>
	 			<tr>
					<th th:text="#{vlasnik}"></th>
					<td>
						<select name="korisnik">
							<option value="pera" th:selected="${#strings.equals(clanskaKarta.korisnik, 'pera')}">pera</option>
							<option value="jova" th:selected="${#strings.equals(clanskaKarta.korisnik, 'jova')}">jova</option>
							<option value="mika" th:selected="${#strings.equals(clanskaKarta.korisnik, 'mika')}">mika</option>
						</select>
					</td>
				</tr>
				<tr>
					<th th:text="#{vrstaTreninga}"></th>
					<td>
						<select name="status">
							<option value="prihvacen" th:selected="${#strings.equals(clanskaKarta.status, 'prihvacen')}">prihvacen</option>
							<option value="uObradi" th:selected="${#strings.equals(clanskaKarta.status, 'uObradi')}">u obradi</option>
							<option value="odbijen" th:selected="${#strings.equals(clanskaKarta.status, 'odbijen')}">odbijen</option>
						</select>
					</td>
				</tr>
				<tr><th></th><td><input type="submit" th:value="#{izmeni}"/></td></tr>
	 		</table>
	 		</form>
	 		<form method="post" action="ClanskeKarte/delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${clanskaKarta.id}"/>
			<table class="forma">
				<tr><th></th><td><input type="submit" th:value="#{obrisi}"/></td></tr>
			</table>
		</form>
	 		<table>     
	 			<caption th:text="#{zakazaniTreninzi}"></caption>
	 			<tr>  
	 				<th th:text="#{redniBroj}"></th>
					<th th:text="#{naziv}"></th>
					<th th:text="#{trener}"></th>
					<th th:text="#{kratakOpis}"></th>
					<th th:text="#{tipTreninga}"></th>
					<th th:text="#{cena}"></th>
					<th th:text="#{vrstaTreninga}"></th>
					<th th:text="#{nivoTreninga}"></th>
					<th th:text="#{trajanje}"></th>
					<th th:text="#{prosecnaOcena}"></th>
					<th></th>   
	 			</tr>
	 			<tr th:each="itTreningKorpa, status: ${clanskaKarta.zakazaniTreninzi}">
					<td th:text="${itTreningKorpa.naziv}"></td>
					<td th:text="${itTreningKorpa.trener}"></td>
					<td th:text="${itTreningKorpa.kratakOpis}"></td>
					<td th:text="${itTreningKorpa.tipTreninga}"></td>
					<td class="broj" th:text="${itTreningKorpa.cena}"></td>
					<td th:text="${itTreningKorpa.vrstaTreninga}"></td>
					<td th:text="${itTreningKorpa.nivoTreninga}"></td>
					<td class="broj" th:text="${itTreningKorpa.trajanjeUMinutima}"></td>
					<td class="broj" th:text="${itTreningKorpa.prosecnaOcena}"></td>
				</tr>
	 		</table>
	 	</div>
	 <script type="text/javascript">
		 $(document).ready(function() {
			 $("#locales").change(function () {
				 var selectedOption = $('#locales').val();
				 if (selectedOption != ''){
					 window.location.replace('ClanskeKarte/Details?lang=' + selectedOption);
				 }
			 });
		 });
	 </script>
	 </body>   
 </html>