<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Termin</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Termini/Create">
			<input type="hidden" name="id" value="1">
			<table class="forma">
				<caption>dodavanje termina</caption>
				<tr>
					<th>datum i vreme:</th>
					<td>
						<input type="date" th:value="2020-04-01" name="datum"/>&nbsp;
						<input type="time" value="18:00" name="vreme"/>
					</td>
				<tr>
					<th>trening:</th>
					<td>
						<select name="treningId">
							<option th:each="itTrening: ${treninzi}" th:value="${itTrening.id}" th:text="${itTrening.naziv}"></option>
						</select>	
					</td>
				</tr>
				<tr>
					<th>sala:</th>
					<td>
						<select name="sala">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</td>
				</tr>
				<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			</table>
		</form>
		<ul>
			<li><a href="Termini">povratak</a></li>
		</ul>
	</div>
</body>
</html>