<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Dodavanje treninga</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="TreninziKorpa/add">
			<table class="forma">
				<caption>Dodavanje treninga</caption>
				<tr><th>naziv:</th><td><input type="text" name="naziv"/></td></tr>
				<tr><th>trener:</th><td><input type="text" name="trener"/></td></tr>
				<tr><th>kratak opis:</th><td><input type="text" name="kratakOpis"/></td></tr>
				<tr><th>tip treninga:</th><td><input type="text" name="tipTreninga"/></td></tr>
				<tr><th>cena:</th><td><input type="number"  min="100" value="500" name="cena"/></td></tr>
				<tr><th>vrsta treninga:</th><td><input type="text" name="vrstaTreninga"/></td></tr>
				<tr><th>nivo treninga:</th><td><input type="text" name="nivoTreninga"/></td></tr>
				<tr><th>trajanje u minutima:</th><td><input type="number"  min="1" value="60" name="trajanjeUMinutima"/></td></tr>
				<tr><th>prosecna ocena:</th><td><input type="number"  min="1" value="5" name="prosecnaOcena"/></td></tr>
				<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
			</table>
		</form>
		<ul>
			<li><a href="TreninziKorpa">povratak</a></li>
		</ul>
	</div>
</body>
</html>