<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<title>Prijava</title>
</head>
<body>
	<h2>Teretana</h2>
	<ul>
		<li><a href="">pocetna</a></li>
	</ul>
	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<tr><th>Prijavljeni ste kao</th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="korisnik" th:if="${session.prijavljeniKorisnik == null}">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="prijava.html">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Treninzi">treninzi</a></li>
		<li><a href="TipoviTreninga">tipoviTreninga</a></li>
		<li><a href="Termini">termini</a></li>
		<li><a href="ClanskeKarte">clanskeKarte</a></li>
		<li><a href="Komentari">komentari</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici">korisnici</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Sale">sale</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Izvestaji">izvestaji</a></li>
	</ul>
</body>
</html>