<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Izvestaji</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="sortable">
				<caption>Termini</caption>
				<tr>
					<th>r. br.</th>
					<th>trening</th>
					<th>trener</th>
					<th>datum i vreme</th>
					<th>broj zakazanih treninga</th>
					<th>cena</th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th>
						<select name="treningId">
							<option value="">odaberi</option>
							<option th:each="itTrening: ${treninzi}" th:value="${itTrening.id}" th:text="${itTrening.naziv}" th:selected="${#strings.equals(itTrening.id, param.treningId)}"></option>
						</select>
					</th>
					<th>
						<select name="trener">
							<option value="">odaberi</option>
							<option value="trener1" th:selected="${#strings.equals(param.trener, 'trener1')}">trener 1</option>
							<option value="trener2" th:selected="${#strings.equals(param.trener, 'trener2')}">trener 2</option>
							<option value="trener3" th:selected="${#strings.equals(param.trener, 'trener3')}">trener 3</option>
						</select>
					</th>
					<th>
						od:<input type="date" th:value="${param.datumOd?: '2020-01-01'}" name="datumOd"/><input type="time" th:value="${param.vremeOd?: '08:00'}" name="vremeOd"/><br/>
						do:<input type="date" th:value="${param.datumDo?: '3000-01-01'}" name="datumDo"/><input type="time" th:value="${param.vremeDo?: '23:00'}"  name="vremeDo"/>
					</th>
					<th><input type="number" th:value="${param.brojZakazanihTreninga?: ''}" min="1" name="brojZakazanihTreninga"/></th>
					<th>
						od:<input type="number" min="0" th:value="${param.cenaOd}?: '0'" name="cenaOd"/><br/>
						do:<input type="number" min="0" th:value="${param.cenaDo}?: '2000'" name="cenaDo"/>
					</th>
					<th><input type="submit" value="Pretrazi"/></th>
				</tr>
				<tr th:each="itIzvestaj, status: ${izvestaji}">
					<td class="broj" th:value="${status.index}"></td>
					<td><a th:href="|Treninzi/Details?id=${itIzvestaj.trening.id}|" th:text="${itIzvestaj.trening.naziv}"></a></td>
					<td th:text="${itIzvestaj.trener}"></td>
					<td><a th:href="|Izvestaji/Details?id=${itIzvestaj.id}|" th:text="${#temporals.format(itIzvestaj.datumIVreme, 'dd.MM.yyy . HH:mm')}"></a></td>
					<td class="broj" th:text="${itIzvestaj.brojZakazanihTreninga}"></td>
					<td class="broj" th:text="${itIzvestaj.cena}"></td>
					<td></td>
				</tr>
			</table>
		</form>
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Izvestaji/Create">dodavanje izvestaja</a></li>
		</ul>
	</div>
</body>
</html>