<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Korisnik</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<h2>Lista specijalnih datuma u 2022. godini, gde je moguce ostvariti popust na trening</h2>
	<ul>
		<li>1, 2, 3. januar (Nova godina)</li>
		<li>7. januar (Božić)</li>
		<li>15. i 16. februar (Dan državnosti)</li>
		<li>15, 16, 17, 18. april (Katolički Uskrs)</li>
		<li>22, 23, 24, 25. april (Uskrs)</li>
		<li>1, 2, 3. maj (Praznik rada)</li>
		<li>11. novembar (Dan primirja u Prvom svetskom ratu)</li>
		<li>25. decembar (Katolički Božić)</li>
	</ul>
	</div>
</body>
</html>