<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Termin</title>
</head>
<body>
	<span th:text="#{lang.change}"></span>
	<select id="locales">
		<option value=""></option>
		<option value="sr" th:text="#{lang.ser}"></option>
		<option value="en" th:text="#{lang.eng}"></option>
	</select>
	<div th:fragment="centralniDiv">
		<form method="post" action="Termini/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${termin.id}">
			<table class="forma">
				<caption th:text="#{termin}"></caption>
				<tr>
					<th th:text="#{datumIVreme}"></th>
					<td>
						<input type="date" th:value="${#temporals.format(termin.datumIVreme, 'yyyy-MM-dd')}" name="datum"/>&nbsp;
						<input type="time" th:value="${#temporals.format(termin.datumIVreme, 'HH:mm')}" name="vreme"/>
					</td>
				<tr>
					<th th:text="#{treningMalim}"></th>
					<td>
						<select name="treningId">
							<option th:each="itTrening: ${treninzi}" th:value="${itTrening.id}" th:text="${itTrening.naziv}" th:selected="${itTrening == termin.trening}"></option>
						</select>
					</td>
				</tr>
				<tr>
					<th th:text="#{sala}"></th>
					<td>
						<select name="sala">
							<option value="1" th:selected="${#strings.equals(termin.sala, '1')}">1</option>
							<option value="2" th:selected="${#strings.equals(termin.sala, '2')}">2</option>
							<option value="3" th:selected="${#strings.equals(termin.sala, '3')}">3</option>
						</select>
					</td>
				</tr>
				<tr><th></th><td><input type="submit" th:value="#{izmeni}"/></td></tr>
			</table>
		</form>
		<form method="post" action="Termini/Delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${termin.id}">
			<table class="forma">
				<tr><th></th><td><input type="submit" th:value="#{obrisi}"/></td></tr>
			</table>
		</form>
		<table class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<caption th:text="#{termin}"></caption>
			<tr>
				<th th:text="#{datumIVreme}"></th>
				<td>
					<input type="date" th:value="${#temporals.format(termin.datumIVreme, 'yyyy-MM-dd')}" name="datum"/>&nbsp;
					<input type="time" th:value="${#temporals.format(termin.datumIVreme, 'HH:mm')}" name="vreme"/>
				</td>
			<tr>
				<th th:text="#{treningMalim}"></th>
				<td>
					<select name="treningId">
						<option th:each="itTrening: ${treninzi}" th:value="${itTrening.id}" th:text="${itTrening.naziv}" th:selected="${itTrening == termin.trening}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<th th:text="#{sala}"></th>
				<td>
					<select name="sala">
						<option value="1" th:selected="${#strings.equals(termin.sala, '1')}">1</option>
						<option value="2" th:selected="${#strings.equals(termin.sala, '2')}">2</option>
						<option value="3" th:selected="${#strings.equals(termin.sala, '3')}">3</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#locales").change(function () {
				var selectedOption = $('#locales').val();
				if (selectedOption != ''){
					window.location.replace('Termini/Details?lang=' + selectedOption);
				}
			});
		});
	</script>
</body>
</html>