<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Tipovi treninga</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="tabela">
				<caption>Tipovi treninga</caption>
				<tr>
					<th>r. br.</th>
					<th>naziv</th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv?: null}"/></th>
					<th><input type="submit" value="Pretrazi"/></th>
				</tr>
				<tr th:each="itTipTreninga, status: ${tipoviTreninga}">
					<td th:text="${status.index + 1}">1</td>
					<td><a th:href="|TipoviTreninga/Details?id=${itTipTreninga.id}|" th:text="${itTipTreninga.naziv}">fantazija</a></td>
					<td><a th:href="|Treninzi?tipTreningaId=${itTipTreninga.id}|">treninzi</a></td>
				</tr>
			</table>
		</form>
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="TipoviTreninga/Create">dodavanje tipa treninga</a></li>
		</ul>
	</div>
</body>
</html>