<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<title>Treninzi</title>
</head>
<body>
	<span th:text="#{lang.change}"></span>
	<select id="locales">
		<option value=""></option>
		<option value="sr" th:text="#{lang.ser}"></option>
		<option value="en" th:text="#{lang.eng}"></option>
	</select>
	<div th:fragment="centralniDiv">
		<form method="get">
			<table class="sortable">
				<caption th:text="#{treninzi}"></caption>
				<tr>
					<th th:text="#{redniBroj}"></th>
					<th th:text="#{naziv}"></th>
					<th th:text="#{trener}"></th>
					<th th:text="#{kratakOpis}"></th>
					<th th:text="#{tipTreninga}"></th>
					<th th:text="#{cena}"></th>
					<th th:text="#{vrstaTreninga}"></th>
					<th th:text="#{nivoTreninga}"></th>
					<th th:text="#{trajanje}"></th>
					<th th:text="#{prosecnaOcena}"></th>
					<th></th>
				</tr>
				<tr>
					<th></th>
					<th><input type="search" name="naziv" th:value="${param.naziv}?: null"/></th>
					<th><input type="search" name="trener" th:value="${param.trener}?: null"/></th>
					<th><input type="search" name="kratakOpis" th:value="${param.kratakOpis}?: null"/></th>
					<th><input type="search" name="tipTreninga" th:value="${param.tipTreninga}?: null"/></th>
					<th>
						<label th:text="#{od}"></label><input type="number" min="0" th:value="${param.cenaOd}?: '0'" name="cenaOd"/><br/>
						<label th:text="#{do}"></label><input type="number" min="0" th:value="${param.cenaDo}?: '2000'" name="cenaDo"/>
					</th>
					<th><input type="search" name="vrstaTreninga" th:value="${param.vrstaTreninga}?: null"/></th>
					<th><input type="search" name="nivoTreninga" th:value="${param.nivoTreninga}?: null"/></th>
					<th>
						<label th:text="#{od}"></label><input type="number" min="0" th:value="${param.trajanjeUMinutimaOd}?: '0'" name="trajanjeUMinutimaOd"/><br/>
						<label th:text="#{do}"></label><input type="number" min="0" th:value="${param.trajanjeUMinutimaDo}?: '240'" name="trajanjeUMinutimaDo"/>
					</th>
					<th>
						<label th:text="#{od}"></label><input type="number" min="0" th:value="${param.prosecnaOcenaOd}?: '0'" name="prosecnaOd"/><br/>
						<label th:text="#{do}"></label><input type="number" min="0" th:value="${param.prosecnaOcenaDo}?: '5'" name="prosecnaOcenaDo"/>
					</th>
					<th><input type="submit" th:value="#{pretrazi}"/></th>
				</tr>
				<tr th:each="itTreningKorpa, status: ${treninziKorpa}">
					<td class="broj" th:text="${status.index + 1}"></td>
					<td><a th:href="|TreninziKorpa/details?id=${itTreningKorpa.id}|" th:text="${itTreningKorpa.naziv}"></a></td>
					<td th:text="${itTreningKorpa.trener}"></td>
					<td th:text="${itTreningKorpa.kratakOpis}"></td>
					<td th:text="${itTreningKorpa.tipTreninga}"></td>
					<td class="broj" th:text="${itTreningKorpa.cena}"></td>
					<td th:text="${itTreningKorpa.vrstaTreninga}"></td>
					<td th:text="${itTreningKorpa.nivoTreninga}"></td>
					<td class="broj" th:text="${itTreningKorpa.trajanjeUMinutima}"></td>
					<td class="broj" th:text="${itTreningKorpa.prosecnaOcena}"></td>
				</tr>
			</table>
		</form>
		<ul>
			<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="TreninziKorpa/add" th:text="#{dodavanjeTreninga}"></a></li>
		</ul>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#locales").change(function () {
				var selectedOption = $('#locales').val();
				if (selectedOption != ''){
					window.location.replace('TreninziKorpa?lang=' + selectedOption);
				}
			});
		});
	</script>
</body>
</html>