<!DOCTYPE html>
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<title>Film</title>
</head>
<body>
	<div th:fragment="centralniDiv">
		<form method="post" action="Treninzi/Edit" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${trening.id}"/>
			<table class="forma">
				<caption>Trening</caption>
				<tr><th>naziv:</th><td><input type="text" th:value="${trening.naziv}" name="naziv"/></td></tr>
				<tr>
					<th>tip treninga:</th>
					<td>
						<th:block th:each="itTipTreninga: ${tipoviTreninga}">
							<input type="checkbox" name="tipTreningaId" th:value="${itTipTreninga.id}" th:checked="${#lists.contains(trening.tipoviTreninga, itTipTreninga)}"/><span th:text="${itTipTreninga.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th>trener:</th><td><input type="text" th:value="${trening.trener}" name="trener"/></td></tr>
				<tr><th>kratak opis:</th><td><input type="text" th:value="${trening.kratakOpis}" name="kratakOpis"/></td></tr>
				<tr><th>cena:</th><td><input type="number" min="100" th:value="${trening.cena}" name="cena"/></td></tr>
				<tr>
					<th>vrsta treninga:</th>
					<td>
						<select name="vrstaTreninga">
							<option value="pojedinacni" th:selected="${#strings.equals(trening.vrstaTreninga, 'pojedinacni')}">pojedinacni</option>
							<option value="grupni" th:selected="${#strings.equals(trening.vrstaTreninga, 'grupni')}">grupni</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>nivo treninga:</th>
					<td>
						<select name="nivoTreninga">
							<option value="amaterski" th:selected="${#strings.equals(trening.nivoTreninga, 'amaterski')}">amaterski</option>
							<option value="srednji" th:selected="${#strings.equals(trening.nivoTreninga, 'srednji')}">srednji</option>
							<option value="napredni" th:selected="${#strings.equals(trening.nivoTreninga, 'napredni')}">napredni</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>trajanje u minutima:</th>
					<td>
						<select name="trajanjeUMinutima">
							<option value="30" th:selected="${#strings.equals(trening.trajanjeUMinutima, '30')}">30</option>
							<option value="60" th:selected="${#strings.equals(trening.trajanjeUMinutima, '60')}">60</option>
							<option value="90" th:selected="${#strings.equals(trening.trajanjeUMinutima, '90')}">90</option>
						</select>
					</td>
				</tr>
				<tr><th>prosecna ocena:</th><td><input type="number" min="1" max="5" th:value="${trening.prosecnaOcena}" name="prosecnaOcena"/></td></tr>
				<tr><th></th><td><a th:href="|Termini?treningId=${trening.id}|">termini</a></td></tr>
				<tr><th></th><td><a th:href="Sale">sala</a></td></tr>
				<tr><th></th><td><a th:href="Komentari">komentari</a></td></tr>
				<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
			</table>
		</form>
		<form method="post" action="Treninzi/Delete" th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}">
			<input type="hidden" name="id" th:value="${trening.id}"/>
			<table class="forma">
				<tr><th></th><td><input type="submit" value="Obrisi"/></td></tr>
			</table>
		</form>
		<table class="forma" th:if="${session.prijavljeniKorisnik == null or not session.prijavljeniKorisnik.administrator}">
			<caption>Trening</caption>
				<tr><th>naziv:</th><td><input type="text" th:value="${trening.naziv}" name="naziv"/></td></tr>
				<tr>
					<th>tip treninga:</th>
					<td>
						<th:block th:each="itTipTreninga: ${tipoviTreninga}">
							<input type="checkbox" name="tipTreningaId" th:value="${itTipTreninga.id}" th:checked="${#lists.contains(trening.tipoviTreninga, itTipTreninga)}"/><span th:text="${itTipTreninga.naziv}"></span><br>
						</th:block>
					</td>
				</tr>
				<tr><th>trener:</th><td><input type="text" th:value="${trening.trener}" name="trener"/></td></tr>
				<tr><th>kratak opis:</th><td><input type="text" th:value="${trening.kratakOpis}" name="kratakOpis"/></td></tr>
				<tr><th>cena:</th><td><input type="number" min="100" th:value="${trening.cena}" name="cena"/></td></tr>
				<tr>
					<th>vrsta treninga:</th>
					<td>
						<select name="vrstaTreninga">
							<option value="pojedinacni" th:selected="${#strings.equals(trening.vrstaTreninga, 'pojedinacni')}">pojedinacni</option>
							<option value="grupni" th:selected="${#strings.equals(trening.vrstaTreninga, 'grupni')}">grupni</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>nivo treninga:</th>
					<td>
						<select name="nivoTreninga">
							<option value="amaterski" th:selected="${#strings.equals(trening.nivoTreninga, 'amaterski')}">amaterski</option>
							<option value="srednji" th:selected="${#strings.equals(trening.nivoTreninga, 'srednji')}">srednji</option>
							<option value="napredni" th:selected="${#strings.equals(trening.nivoTreninga, 'napredni')}">napredni</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>trajanje u minutima:</th>
					<td>
						<select name="trajanjeUMinutima">
							<option value="30" th:selected="${#strings.equals(trening.trajanjeUMinutima, '30')}">30</option>
							<option value="60" th:selected="${#strings.equals(trening.trajanjeUMinutima, '60')}">60</option>
							<option value="90" th:selected="${#strings.equals(trening.trajanjeUMinutima, '90')}">90</option>
						</select>
					</td>
				</tr>
				<tr><th>prosecna ocena:</th><td><input type="number" min="1" max="5" th:value="${trening.prosecnaOcena}" name="prosecnaOcena"/></td></tr>
				<tr><th></th><td><a th:href="|Termini?treningId=${trening.id}|">termini</a></td></tr>
				<tr><th></th><td><a th:href="Sale">sala</a></td></tr>
				<tr><th></th><td><a th:href="Komentari">komentari</a></td></tr>
		</table>
	</div>
</body>
</html>