<!DOCTYPE html> 
<html th:replace="~{fragments/base.html :: layout(~{::title},~{::link},~{::centralniDiv})}" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<base th:href="@{/}">
		<title>Treninzi</title>
		<script src="webjars/jquery/3.2.1/jquery.min.js"></script>
		<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	</head>
	<body>
		<span th:text="#{lang.change}"></span>
		<select id="locales">
			<option value=""></option>
			<option value="sr" th:text="#{lang.ser}"></option>
			<option value="en" th:text="#{lang.eng}"></option>
		</select>
		<div th:fragment="centralniDiv">
			<table class = "sortable">
			<caption th:text="#{zeljeniTreninzi}"></caption>
			<tr>
					<th th:text="#{naziv}"></th>
					<th th:text="#{trener}"></th>
					<th th:text="#{kratakOpis}"></th>
					<th th:text="#{tipTreninga}"></th>
					<th th:text="#{cena}"></th>
					<th th:text="#{vrstaTreninga}"></th>
					<th th:text="#{nivoTreninga}"></th>
					<th th:text="#{trajanje}"></th>
					<th th:text="#{prosecnaOcena}"></th>
					<th></th>
			</tr>
			
			<tr th:each="itTreningKorpa, status: ${treninziKorpa}">  
				<td><a th:href="|TreninziKorpa/details?id=${itTreningKorpa.id}|" th:text="${itTreningKorpa.naziv}"></a></td>
				<td th:text="${itTreningKorpa.trener}"></td>
				<td th:text="${itTreningKorpa.kratakOpis}"></td>
				<td th:text="${itTreningKorpa.tipTreninga}"></td>
				<td class="broj" th:text="${itTreningKorpa.cena}"></td>
				<td th:text="${itTreningKorpa.vrstaTreninga}"></td>
				<td th:text="${itTreningKorpa.nivoTreninga}"></td>
				<td class="broj" th:text="${itTreningKorpa.trajanjeUMinutima}"></td>
				<td class="broj" th:text="${itTreningKorpa.prosecnaOcena}"></td>   
 				<td>
					<form method="post" action="TreninziKorpa/zeljene/ukloni">
						<input type="hidden" name="idTreninga" th:value="${itTreningKorpa.id}">
						<input type="submit" th:value="#{ukloniIzZeljenih}">
					</form>
				</td>  
 			</tr>
		</table>
		<br/>
		<form method="post" action="ClanskeKarte/zakaziTreninge">
			<table>
			<caption th:text="#{zakaziTreninge}"></caption>
				<tr><th th:text="#{registarskiBrojClanskeKarte}"></th><td><input type="text" name="registarskiBroj"></td>
				<tr><th></th><td><input type="submit" th:value="#{zakazi}"></td>
			</table>
		</form>
	</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#locales").change(function () {
					var selectedOption = $('#locales').val();
					if (selectedOption != ''){
						window.location.replace('TreninziKorpa/zeljene?lang=' + selectedOption);
					}
				});
			});
		</script>
	</body>
</html>